<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaurav.android.rplace" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Rplace"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" >

        </activity>
        <activity
            android:name=".add_student"
            android:label="@string/title_activity_add_student"
            android:parentActivityName=".Rplace"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gaurav.android.rplace.Rplace" />
        </activity>
        <activity
            android:name=".RemoveStudent"
            android:label="@string/title_activity_remove_student"
            android:parentActivityName=".Rplace"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gaurav.android.rplace.Rplace" />
        </activity>
        <activity
            android:name=".Display"
            android:label="@string/title_activity_display"
            android:parentActivityName=".Rplace"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gaurav.android.rplace.Rplace" />
        </activity>
        <activity
            android:name=".GUIView"
            android:label="@string/title_activity_guiview"
            android:parentActivityName=".Display"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gaurav.android.rplace.Display" />
        </activity>
        <activity
            android:name=".add_main_gateway"
            android:label="@string/title_activity_add_main_gateway"
            android:parentActivityName=".Rplace"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gaurav.android.rplace.Rplace" />
        </activity>
        <activity
            android:name=".RemoveGateway"
            android:label="@string/title_activity_remove_gateway"
            android:parentActivityName=".Rplace"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gaurav.android.rplace.Rplace" />
        </activity>
        <activity
            android:name=".ViewGateway"
            android:label="@string/title_activity_view_gateway"
            android:parentActivityName=".Rplace"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:screenOrientation="landscape"
                android:value="com.gaurav.android.rplace.Rplace" />
        </activity>
        <activity
            android:name=".AdvancedSettings"
            android:label="@string/title_activity_advanced_settings"
            android:parentActivityName=".Rplace"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:screenOrientation="landscape"
                android:value="com.gaurav.android.rplace.Rplace" />
        </activity>
        <activity
            android:name=".HomeFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_home_fullscreen"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".company_add"
            android:label="@string/title_activity_company_add"
            android:parentActivityName=".add_main_gateway"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gaurav.android.rplace.add_main_gateway" />
        </activity>
        <activity
            android:name=".add_previous_data"
            android:label="@string/title_activity_add_previous_data"
            android:parentActivityName=".add_main_gateway" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gaurav.android.rplace.add_main_gateway" />
        </activity>
        <activity
            android:name=".RemoveCompany"
            android:label="@string/title_activity_remove_company"
            android:parentActivityName=".RemoveGateway"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:theme="@style/Theme.AppCompat.NoActionBar"
                android:value="com.gaurav.android.rplace.RemoveGateway" />
        </activity>
        <activity
            android:name=".removePreviousData"
            android:label="@string/title_activity_remove_previous_data"
            android:parentActivityName=".RemoveGateway"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gaurav.android.rplace.RemoveGateway" />
        </activity>
        <activity
            android:name=".ViewData"
            android:label="@string/title_activity_view_data"
            android:parentActivityName=".ViewGateway"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gaurav.android.rplace.ViewGateway" />
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutApp"
            android:label="@string/title_activity_about_app"
            android:parentActivityName=".AdvancedSettings"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gaurav.android.rplace.AdvancedSettings"
               />
        </activity>
    </application>

</manifest>
